.container {
  text-align: center;
  padding: 50px;
  background-color: #f0f0f0;
  /* 옅은 회색 배경 */
  min-height: 100vh;

  color: black;
}

.content_container {
  width: 100%;
  /* border: 1px solid black; */
  /* height: 100vh; */

  background-color: #ffeca2;
  border-radius: 1.5rem;
  border: 1px solid #ffcc00;
}

.auctionBox_container,
.footer_container {
  display: flex;
}

.auction_box {
  /* background-color: #ffcc00; */
  width: 40%;
  /* min-height: 200px; */
  border-right: 1px solid #ffcc00;
  border-bottom: 1px solid #ffcc00;
}

.auction_box:nth-child(2) {
  width: 30%;
}

.auction_box:nth-child(3) {
  border: none;
  border-bottom: 1px solid #ffcc00;
}

.team_list {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

.team_box {
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  padding: 10px 0px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: end;
  border-bottom: 1px solid #ffcc00;
}

.team_name_box {
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 6;
  /* align-items: center; */
}

.team_name {
  height: 25px;
}

.remain_point {
  width: 80px;
  background-color: white;
  align-content: center;
  border: 1px solid #001aff;
  font-weight: 700;
  margin-right: 20px;
}

.member {
  width: 100%;
  height: 100px;

  /* border: 1px solid black; */
  grid-row-start: 2;

  align-content: flex-end;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.waiting_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 0px 10px;
}

.waiting_list_title {
  grid-column-start: 1;
  grid-column-end: 5;
}

.waiting_member_list {
  /* border: 1px solid black; */
  height: 100px;

  align-content: flex-end;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waiting_member_list_name {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 5px;
}

.waiting_member_list span {
  white-space: normal;
  text-align: center;
}

.live_member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.live_member_box {
  width: 100%;
  height: 16vw;
  border-bottom: 1px solid #ffcc00;
  align-content: center;
}

.member_info {
  background-color: #f9f9c5; /* 부드러운 배경 색상 */
  border-radius: 15px; /* 둥근 모서리 */
  padding: 20px; /* 내부 여백 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  text-align: center; /* 텍스트 가운데 정렬 */
  width: 80%;
  margin: 10px 0;
}

.member_info h3 {
  margin: 10px 0; /* 제목 간격 조정 */
  font-family: "Arial", sans-serif; /* 부드러운 글꼴 */
  color: #333; /* 글자 색상 */
}

.member_info h3:nth-child(even) {
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.chat_box_container {
}

.chat_box {
  height: 200px;
  resize: none;
}
