.container {
  /* padding: 20px; */
  max-width: 600px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.chatHistory {
  padding: 10px;
  resize: none;
  margin-bottom: 10px;
  background-color: black;
}

.timer_container {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-bottom: 10px;
}

.timer_container button {
  background-color: #ffffff;
  border: 2px solid #000;
  color: black;
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
}

.timer_container button:hover {
  background-color: rgb(176, 174, 174);
}

.bid_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.remain_point_box {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #ffffff;
  color: black;
}

.input {
  padding: 10px;
  border: none;
  width: 195px;
  height: 40px;
  font-size: 18px;
}

.button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  height: 40px;
  /* border-radius: 4px; */
  cursor: pointer;
  width: 60px;
}

.button:hover {
  background-color: #001aff;
}

.chat_box {
  height: 200px; /* 원하는 높이 */
  overflow-y: auto; /* 세로 스크롤바 표시 */
  border: 1px solid #ccc; /* 경계선 스타일 */
  padding: 10px; /* 내부 여백 */
  background-color: rgb(74, 74, 74); /* 배경색 */
  text-align: left;
}

.entry {
  padding: 5px;
  color: white;
}

.entry .team_leader_text {
  font-weight: bold;
  color: black;
}

.entry .point {
  font-weight: bold;
  color: #3094ff !important;
}
